<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>问题药品</title>
    <link rel="shortcut icon" href="#"/>
</head>
<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
<link rel="stylesheet" th:href="@{/static/admin/style.css}" media="all">
<script th:src="@{/static/layui/layui.js}"></script>
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form layui-form-pane" action="">
                <input name="id" th:value="${obj?.id}" class="layui-input layui-hide"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">药品名称</label>
                    <div class="layui-input-block">
                        <select name="drugName" id="dname"></select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">药品数量</label>
                    <div class="layui-input-block">
                        <input type="text" name="drugCount" th:value="${obj?.drugCount}" lay-verify="required"
                               placeholder="请输入数量" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">药品单价</label>
                    <div class="layui-input-block">
                        <input type="text" name="drugPrice" th:value="${obj?.drugPrice}" lay-verify="required"
                               placeholder="请输入药品单价" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">问题原因</label>
                    <div class="layui-input-block">
                        <textarea name="reason" th:text="${obj?.reason}" lay-verify="required" placeholder="请输入问题原因"
                                  autocomplete="off" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <input type="button" lay-submit lay-filter="LAY-front-submit" id="LAY-front-submit" value="确认">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['form'], function () {
        var $ = layui.$;
        var form = layui.form;

        //当前药品的值
        var currentDname = '[[${obj?.drugName}]]';
        //获取供应商列表
        $.ajax({
            url: '/drugInfo/drugInfoList',
            dataType: 'json',
            type: 'post',
            cache: false,
            success: function (data) {
                $('#dname').prepend("<option value=''>请选择</option>");
                for (var i = 0; i < data.data.length; i++) {
                    if (data.data[i].name == currentDname) {
                        $('#dname').append("<option selected value='" + data.data[i].name + "'>" + data.data[i].name + "</option>");
                    } else {
                        $('#dname').append("<option value='" + data.data[i].name + "'>" + data.data[i].name + "</option>");
                    }
                }
                form.render();          //下拉列表渲染，把内容加载进去
            }
        });
    });
</script>
</body>
</html>
